:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --error-color: #e74c3c;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --info-color: #316f98;
    --light-color: #f5f5f5;
    --dark-color: #2c3e50;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color:   var(--info-color);
}


nav, nav * {
  user-select: none; 
}

h1 {
  text-align: center;
  color: var(--primary-color);
}
section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: var(--primary-color);
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
input,
button {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition:all  0.3s ease-in-out;
}
button:hover {
  background-color: var(--dark-color);
  scale: 1.04;
}
button:active {
  scale: 0.96;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: var(--light-color);
  border-radius: 4px;
}
.delete-btn {
  background-color: var(--error-color);
}
.delete-btn:hover {
  background-color: var(--error-color);
}
.calculator-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.number-display {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
}
.red {
  color: var(--error-color);
}
.yellow {
  color: var(--warning-color);
}
.green {
  color: var(--success-color);
}
.error {
  color: var(--error-color);
  font-weight: bold;
}
.success {
  color: var(--success-color);
  font-weight: bold;
}
